/* General */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 75px;
	font-family: helvetica;
	background-color: lightgrey;
}

/* Header */
header {
	background-color: darkslategrey;
	margin: 0;
	padding: 15px 0;
}

h1 {
	margin: 0;
	text-align: center;
	color: honeydew;
	font-family: 'Orbitron', sans-serif;
}

/* Nav */
nav {
	background-color: darkgreen;
	margin-bottom: 15px;
	padding: 10px 0;
}
nav li {
	display: inline-block;
	text-decoration: none;
	padding: 0 10px;
	color: honeydew;
}
li a {
	color: honeydew;
	text-decoration: none;
}
li a:hover {
	color: powderblue;
}
ul {
	margin: 0;
	text-align: center;
}


/* Footer */
footer {
	background-color: darkgreen;
	text-align: center;
	color: honeydew;
	clear: both;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
}
/* Product Page */

div#games {
	text-align: center;
}

.card {
	background-color: white;
	display: inline-block;
	width: 30%;
	margin: 10px;
	text-align:	center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
	width: 100%;
}

.card h2 {
	text-transform: uppercase;
}


