/* General */
body {
	margin: 0;
	font-family: helvetica;
	background-color: lightgrey;
}

/* Header */
header {
	background-color: darkslategrey;
	margin: 0;
	padding: 15px 0;
}

h1 {
	margin: 0;
	text-align: center;
	color: honeydew;
	font-family: 'Orbitron', sans-serif;
}

/* Nav */
nav {
	background-color: darkgreen;
	margin-bottom: 15px;
	padding: 10px 0;
}
nav li {
	display: inline-block;
	text-decoration: none;
	padding: 0 10px;
	color: honeydew;
}
li a {
	color: honeydew;
	text-decoration: none;
}
li a:hover {
	color: powderblue;
}
ul {
	margin: 0;
	text-align: center;
}


/* Footer */
footer {
	background-color: darkgreen;
	text-align: center;
	color: honeydew;
	padding: 10px;
}

/* Product Page */


.card {
	background-color: white;
	display: inline-block;
	width: 30%;
	margin: 10px;
	text-align:	center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card img {
	width: 100%;
}

.card h2 {
	text-transform: uppercase;

}

/* About Page*/
#tekn-name-logo {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.2em;
}
#about-us-img {
	border: solid .1em darkslategrey;
	border-radius: 25%;
	float:right;
	padding: 0 0 2em 2em;
	zoom: 60%;
}
#about {
	background-color: darkslategrey;
	color: honeydew;
	width: 80%;
	border: solid .25em darkslategrey;
	border-radius: 10%;
	display: block;
	margin: 5em 10em 5em 10em;
	padding-bottom: 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#about h2 {
	padding: 1em 0 0 1em;
	font-size: 3em;
/*font-style: italic;*/
}
#about p {
	text-align: justify;
	padding: 1em 5em 1em 5em;
}
#stock-price {
	margin: 4em;
	display:block;
}
#stock-price-header {
	/*text-align: center;*/
}




